

.logo {
    font-size: 50px;
    font-font-family: "Raleway", sans-serif; 
    color: #0c2e8a;
}

.couleur-special{
    color: #50d8af;    
}

.navigation{
    font-weight: bold;
    color:  #5f5555
}

.hauteur{
    
    height: 80vh;

}

