

.logo {
    font-size: 50px;
    font-font-family: "Raleway", sans-serif; 
    color: #0c2e8a;
}

.icon{
    font-size: 25px;
}

.gras{
    font-weight: bold;
}
.couleur-special{
    color: #50d8af;    
}

.navigation{
    font-weight: bold;
    color:  #5f5555
}

img{
    width: 100%;
    height: 500px;
}

